* {
    padding: 0;
    margin: 0;
}

body {
    text-align: center;
    background: #aaa;
    margin: 0.5in auto;
    width: 600px;

}

canvas {
    padding: 32px;
}


h1 {
    font-size: 64px;
}

p {
    padding: 0.5em;
}

#score {
    padding: 0;
    margin: 0;
    font-size: 60px;
}
