* {
    padding: 0;
    margin: 0;
}

body {
    text-align: center;
    background: #aaa;
    margin: 1in auto;
    width: 600px;

}

canvas {
    padding: 32px;
}


h1 {
    font-size: 64px;
}


#score {
    padding: 0;
    margin: 0;
    font-size: 60px;
}
